{{ partial "header.html" . }}
<main class="content" role="main">
<div class="archive">
    {{ $section := replaceRE "^/([^/]+)/.*" "$1" .URL }}
	{{ $sectionID := (index .Site.Params.sectionID $section) }}
	<h1 class="article-title" style="text-align: center;">标签</h1>
	<p style="text-align: center; margin-top: .3em">目前共计 <span id="tagCount"></span> 个标签</p>
	<section class="wrapper tags">
		<div class="page-tags" id="tags">
			{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			{{ if eq (substr $name 0 2) $sectionID }}
			<span class="tags">
				<a href="/tags/{{ $name | urlize }}" rel="{{ len $taxonomy }}">{{ if eq (substr $name 2) "sas" }}{{ "SAS" }}{{ else }}{{ title (substr $name 2) }}{{ end }}({{ len $taxonomy }})</a>
			</span>
			{{ end }}
			{{ end }}
		</div>
	</section>
</div>
</main>
<script language="javascript">
    document.getElementById("tagCount").innerText = document.getElementById("tags").children.length;
    if (document.getElementById("tags").children.length == 0)
        document.getElementById("tags").innerText = "暂无标签！";
</script>
<script src="{{ .Site.BaseURL }}js/tags.js"></script>
{{ partial "footer.html" . }}